html, body, div, img, nav, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

a {
  color:inherit;
  text-decoration: none; 
}

a:visited {
  color:inherit;
}

a:hover {
  color: #0FF0AD;
}
/*=== UTILITIES ====*/
.group:after {
  content: "";
  display: block;
  clear: both;
}

.float-right{
 float:right; 
}

.float-left{
 float:left; 
}

.hidden {
  display: none;
}

.selected {
  background: #FF9840 !important;
  color: #1D7074;
}

/*=== BODY ====*/
body {
  background: #FF9840;
  font-family: courier;
  color: #35D4A4;
}

main {
  background: #207E62;
  border-top: 0px;
  width: 900px;
  height: 600px;
  margin: auto;
}

/*=== HEADER ====*/
header {
  background: #00A876;
  border-left: 0px;
  border-right: 0px;
  font-size: 20px;
  padding: 15px 0px 20px 0px;
  
}

.header_nav {
  width: 900px;
  margin: auto;
  padding-top: 10px;
}

.header_nav > .float-right {
  padding-left: 15px;
}

.header_nav > #my_email {
  display: inline;
  padding-left: 40px;
}

.header_nav > #my_resume {
  padding-right: 40px;
}

.header_nav > #my_github {
}

/*=== DESCRIPTION ====*/
.description_sections {
  padding: 50px 40px;
  font-size: 30px;
}

.description_sections > img{
  width: 150px;
  margin: 0px 10px 0px 0px;
  border-radius: 20px;
}

.description_sections > #my_name {
  margin-bottom: 40px;
  margin-left: 300px;
  margin-top: 20px;
}

.description_sections > #description {
  
}

/*=== PROJECTS ====*/
.projects_section {
  background: #006D4C;
  padding: 10px 0px;
}

.projects_section > a {
/*  background: blue;*/
  height: 230px;
  width: 40px;
}

.projects_section > .prev {
}

.projects_section > .next {
}

.projects_section > nav.projects-navigation {
}

.projects-navigation {
  font-size: 14px;
  padding-bottom: 5px;
}

.projects-navigation .title {
  display:inline;
  padding: 0px 100px 0px 40px;
  font-size: 20px;
}
.projects-navigation > a {
  background: #BF7230;
  padding: 8px 10px 6px 10px;
  margin: 0px 20px;
}

a.project1 {
}

a.project2 {
}

a.project3 {
}

.project {
  background: white;
  padding: 20px 60px;
}

.project-image {
  float: left;
}

.project-descriptions {
  font-size: 20px;
}