html, body, div, img, nav, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

a {
  color:inherit;
  text-decoration: none; 
}

a:visited {
  color:inherit;
}

a:hover {
  color: #0FF0AD;
}
/*=== UTILITIES ====*/
.group:after {
  content: "";
  display: block;
  clear: both;
}

.float-right{
 float:right; 
}

.float-left{
 float:left;  
}

.hidden {
  display: none;
}

.selected {
  background: #FF9840 !important;
  color: #1D7074;
}

/*=== BODY ====*/
body {
  background: #FF9840;
  font-family: courier;
  color: #35D4A4;
}

main {
  background: -webkit-linear-gradient(#207E62, #006D4C); /* For Safari */
  background: -o-linear-gradient(#207E62, #006D4C); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#207E62, #006D4C); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#207E62, #006D4C); /* Standard syntax */
  background: #207E62;
  border-top: 0px;
  width: 900px;
  margin: auto;
}


/*=== HEADER ====*/
header {
  background: -webkit-linear-gradient(#207E62, #006D4C); /* For Safari */
  background: -o-linear-gradient(#207E62, #006D4C); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#207E62, #006D4C); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#207E62, #006D4C); 
  border-left: 0px;
  border-right: 0px;
  font-size: 20px;
  padding: 15px 0px 20px 0px;
  
}

.header_nav {
  width: 900px;
  margin: auto;
  padding-top: 10px;
}

.header_nav > .float-right {
  padding-left: 15px;
}

.header_nav > #my_email {
  display: inline;
  padding-left: 40px;
}

.header_nav > #my_resume {
  padding-right: 40px;
}

.header_nav > #my_github {
}

/*=== DESCRIPTION ====*/
.description_sections {
  padding: 50px 40px;
  font-size: 30px;
}

.description_sections > img{
  width: 150px;
  margin: 0px 10px 0px 0px;
  border-radius: 20px;
}

.description_sections > #my_name {
  margin-bottom: 40px;
  margin-left: 300px;
  margin-top: 20px;
}

.description_sections > #description {
  
}

/*=== PROJECTS ====*/
.projects_section {
  padding: 10px 0px;
  width: 900px;
  margin: auto;
}

.projects_section > a {
/*  background: blue;*/
  margin-top: 25px;
  width:40px;
  height:220px;
}

.projects_section .arrow {
  padding: 100px 20px 100px 10px;
  font-size: 28px;
  display:none; 
}

.projects_section > .prev:hover {  
}

.projects_section > .prev:hover .arrow {
  border: 1px solid #0FF0AD;
  display:block;
}

.projects_section > .next:hover .arrow {
  border: 1px solid #0FF0AD;
  display:block;
}

.projects_section > nav.projects-navigation {
  width: 900px;
  margin: auto;
  padding-top: 8px;
  margin-top: -10px;
  background: #006D4C;
  
}

.projects-navigation {
  font-size: 14px;
  padding-bottom: 5px;
}

.projects-navigation .title {
  display:inline;
  padding: 0px 100px 0px 40px;
  font-size: 20px;
}
.projects-navigation > a {
  background: #BF7230;
  padding: 8px 10px 6px 10px;
  margin: 0px 20px;
}

a.project1 {
}

a.project2 {
}

a.project3 {
}

.project {
  background: white;
  position: absolute;
  left: 50%;
  margin-left: -350px;
  margin-top: 10px;
  width:700px;
/*  border:1px solid black;*/
/*  -webkit-backface-visibility: hidden;*/
}

.project-image {
  width: 100px;
}

.project-descriptions {
  font-size: 20px;
  width: 600px;
}

footer {
  background: #006D4C;
  height:10px;
  width:900px;
  margin:auto;
  position:fixed;
  bottom:0px;
  left: 50%;
  margin-left: -450px;
}