/*/*=== RESETS ====*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

a {
  color: #0FF0AD;
  text-decoration: none; 
}

a:visited {
  color: #00CC99;
}

a:hover {
  color: #0FF0AD;
}

/*=== UTILITIES ====*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-size: 16px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

/*=== COLORS ====*/
body {
  background: white;
}

body .title{
  color: #00CCFF;
  text-align: center;
  font-size: 28px;
  padding: 70px 0px;
  border: 1px dotted #00CCFF;
  border-top: none;
  border-bottom: none;
  width: 900px;
  margin: auto;
}

/*=== HEADER ====*/


/*=== MAIN ====*/

.main {
	line-height: 2;
  color: #336666; 
}

img {
  width: 120px;
}

.seperator {
  height: 30px;
/*background-color:rgba(255,0,0,0);*/
  border: 1px dotted #00CCFF;
  border-right: none;
  border-left: none;
}

.main-navigation,
.seperator .inner{
  height: 30px;
  border: 1px dotted #00CCFF;
  border-top: none;
  border-bottom: none;
  width: 900px;
  margin: auto;
  text-align: center;
  letter-spacing: 10px;
}

.main-navigation,
footer .inner{
  height: 20px;
  background: #00CC99;
  color: white;
  text-align: center;
}

.main-navigation a {
  padding: 0px 15px; 
  letter-spacing: 2px;
  color: white;
}

.main-navigation a,
footer .end{
  width: 900px;
  margin: auto;
  font-size: 16px;
  text-align: center;
}

footer .inner{
  border: 1px dotted #00CCFF;
  border-top: none;
  border-bottom: none;
  width: 900px;
  margin: auto;
}

.about,
.projects,
.contact {
  width: 780px;
  margin: auto;
  padding: 60px 60px;
  border-right: 10px;
  background: white;
  border: 1px dotted #00CCFF;
  border-top: none;
  border-bottom: none;
}

.projects{
  padding-top: 20px;
}
/*___ ABOUT ___*/
.about {
}

.about#name {

}

.about#biography {

}
/*___ PROJECTS ___*/
.projects {
}

.project {
  margin-top: 30px;
  padding-bottom: 30px;
  text-align: justify;
  border-bottom: 1px dashed #00CCFF;
}

.project:last-child
{
  border: none;
} 

.project-title {
  text-align: center;
  border-top: 1px dotted white;
  width: 720px;
  margin: auto;
}

.project-name {
  margin-right: 10px;
  letter-spacing: 2px;
  
}

.project-github {
  margin-left: 10px;
  float:left;
}

.project-image {
  float:left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.project-descriptions {
  display: inline;
}
/*___ CONTACT ___*/
.contact {
  text-align: justify;
}

.contact a {
  padding: 0px 50px;
}