/*/*=== RESETS ====*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

a {
  color:inherit;
  text-decoration: none; 
}

a:visited {
  color:inherit;
}

a:hover {
  color: #0FF0AD;
}

/*=== UTILITIES ====*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-size: 18px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

/*=== COLORS ====*/
body {
  background: #D4E1E7; /* Old browsers */
  color: white;
}

header {
  background: #DE5847;
}

.about {
  background: #6CCAD2;
}

.projects {
  background: #2891BF;
}

.contact {
  background: #0266A4;
}

/*=== HEADER ====*/
header {
  height: 25px;
}

.main-navigation {
  margin: auto;
  width: 900px;
}

.main-navigation a{
  font-size: 24px;
  float: right;
  padding: 0px 20px;
}

/*=== MAIN ====*/
img {
  width: 100px;
}

.seperator {
  height: 20px;
  background: black;
}

.about,
.projects,
.contact {
  width: 780px;
  margin: auto;
  padding: 40px 60px;
  border-right: 10px;
}
/*___ ABOUT ___*/
.about {
}

.about#name {

}

.about#biography {

}
/*___ PROJECTS ___*/
.projects {
}

.project {
  
}

.project-image {
  
}

.project-descriptions {
  
}
/*___ CONTACT ___*/
.contact {
}