/*=== RESETS ====*/
html, body, div, img, nav, section, footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

a {
  color:inherit;
  text-decoration: none; 
}

a:visited {
  color:inherit;
}

a:hover {
  color: #0FF0AD;
}

/*=== UTILITIES ====*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.float-right{
 float:right; 
}

.float-left{
 float:left;  
}

.hidden {
  display: none;
}

a.selected {
  background: #eee !important;
  color: #1D7074;
}

.selected {
  color: #1D7074;
}


/*=== BODY ====*/
body {
  background: #eee;
  font-family: 'Josefin Sans', sans-serif;
  color: #35D4A4;
}

/*=== HEADER ====*/
header {
  background: -webkit-linear-gradient(#207E62, #006D4C); /* For Safari */
  background: -o-linear-gradient(#207E62, #006D4C); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#207E62, #006D4C); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#207E62, #006D4C);
  background: #ccc; 
  border-left: 0px;
  border-right: 0px;
  font-size: 16px;
  font-family:sans-serif;
  font-weight: 800px;
  color: #eee;
  padding: 5px 0px 10px 0px;
  
}

header > nav.header-nav {
  width: 900px;
  margin: auto;
  padding-top: 10px;
}

.header-nav > .float-right {
  padding-left: 15px;
}

.header-nav > #email {
  display: inline;
  padding-left: 40px;
}

.header-nav > #resume {
  padding-right: 40px;
}

.header-nav > #github {
}


/*=== MAIN ====*/
section.main {
  background: -webkit-linear-gradient(#207E62, #006D4C); /* For Safari */
  background: -o-linear-gradient(#207E62, #006D4C); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#207E62, #006D4C); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#207E62, #006D4C); /* Standard syntax */
  background: #e6e6e6;
  border-top: 0px;
  width: 900px;
  margin: auto;
}


/*=== DESCRIPTION ====*/
.description {
  padding: 50px 40px;
  font-size: 30px;
}

.description > #picture{
  width: 150px;
  margin: 0px 10px 0px 0px;
  border-radius: 20px;
}

.description > #name {
  margin-bottom: 40px;
  margin-left: 300px;
  margin-top: 20px;
  font-weight: 700;
}

.description > #biography {
}

/*=== PROJECTS ====*/
.projects {
  padding: 10px 0px;
  width: 900px;
  margin: auto;
}

.projects > a {
  margin-top: 25px;
  width:40px;
  height:220px;
}

.projects .arrow {
  padding: 100px 20px 100px 10px;
  font-size: 28px;
  display:block; 
}

.projects > .prev:hover {  
}

.projects > .prev:hover .arrow, 
.projects > .next:hover .arrow {
  background: #0FF0AD;
  color: #ccc;
  display:block;
}

.projects > nav.projects-nav {
  background: #ddd;
  width: 900px;
  margin: auto;
  padding-top: 8px;
  margin-top: -10px;  
}

.projects-nav {
  font-size: 14px;
  padding-bottom: 5px;
}

.projects-nav .title {
  display:inline;
  padding: 0px 100px 0px 40px;
  font-size: 20px;
}
.projects-nav > a {
/*  background: #BF7230;*/
  padding: 8px 10px 6px 10px;
  margin: 0px 20px;
}

a.project1 {
}

a.project2 {
}

a.project3 {
}

.project {
  position: absolute;
  left: 50%;
  margin-left: -350px;
  margin-top: 10px;
  width:700px;
}

.project-image {
  width: 100px;
}

.project-descriptions {
  font-size: 20px;
  width: 600px;
}

footer {
  background: #ddd;
  height:10px;
  width:900px;
  margin:auto;
  bottom:0px;
/*  left: 50%;*/
/*  position:fixed;*/
/*  margin-left: -450px;*/
}